# Quarto build outputs
/_site/
/Website_QMPart/
/index_files/
/site_libs/
/data/test.png

# LaTeX temporary files
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fdb_latexmk
*.fls

# Python
__pycache__/
*.py[cod]
*$py.class
.ipynb_checkpoints/

# R
.Rhistory
.Rdata
.RData
.httr-oauth

# OS files
.DS_Store
Thumbs.db

/.quarto/

**/*.quarto_ipynb
